body {
    font-family: Roboto, Oxygen, Ubuntu, sans-serif;
    display: flex;
    flex-flow: column;
    font-size: 18px;
}

h1, h2, h3, ul, body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}


img {
    object-fit: cover;
    border-radius: 16px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.introduction-subtext, .header-links {
    color: #E5E7EB;
}

.logo-text {
    font-weight: 1000;
    font-size: 24px;
    color: #F9FAF8;
}

.top {
    display: flex;
    flex-flow: column;
    background-color: #1F2937;
    padding: 48px 256px 128px;
    gap: 64px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction {
    display: flex;
    gap: 64px;
    justify-content: space-between;
}

.introduction-image {
    max-width: 450px;
    height: auto;
´}

.introduction-left {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.information {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 48px 256px 128px;
    gap: 48px;
}

.small-image {
    width: 200px;
    height: 200px;
    border: #3882F6 solid;
}

.quote {
    background-color: #E5E7EB;
    padding: 128px 256px;
    display: flex;
    flex-flow: column;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    margin: 0;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.calltoaction {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    padding: 48px 128px 48px;
    margin: 92px 256px;
    border-radius: 12px;
    gap: 96px;
}

.calltoaction-text {
    display: flex;
    flex-flow: column;
    color: white;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 128px 48px;
    background-color:#1F2937;
    color: white;
}

.calltoaction-button {
    background-color: #3882F6;
    border: white solid 2px;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    flex-shrink: 0;
}